.sync
**/.vscode
**/.ipynb_checkpoints
**/.gradle
**/.mypy_cache
**/__pycache__
**/node_modules
*.pyc
out
out-old
testout
train/pytorch_word2vec
javasrcminer/javasrcminer.iml
javasrcminer/.classpath
javasrcminer/.project
jsfiddle/target
jsfiddle/project
notebooks/idemba-tsne.pkl
