libs/java_cup.jar
libs/jflex.jar
libs/polyglot.jar
libs/ppg.jar
libs/pth.jar
build/*
bin/*
out/*

.sync
.vscode
.idea
.gradle
.settings

.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
